<div ngbDropdown (openChange)="openChange($event)">

  <button class="text-left text-truncate" [ngClass]="buttonClass" ngbDropdownToggle>
    {{selectedPayableTo.name}}
    <span class="text-danger" *ngIf="required && !valid">Required Field</span>
  </button>
  <div ngbDropdownMenu [ngClass]="menuClass" display="dynamic">
    <form class="px-3" #formSearch>
      <input class="form-control form-control-sm form-control-xs" placeholder="Type to search" autofocus
        [(ngModel)]="searchKey" (ngModelChange)="search()" [ngModelOptions]="{standalone: true}" />
    </form>
    <ng-container +ngIf="filteredPayableTos.length > 0">
      <button ngbDropdownItem *ngFor="let item of filteredPayableTos" (click)="selectItem(item)" class="text-truncate">
        {{item.name}}
      </button>
    </ng-container>
    <p class="mb-0 text-muted px-3" *ngIf="filteredPayableTos.length == 0">
      <em>No results</em>
    </p>
  </div>
</div>