.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  padding-top: 0px;
}

form {
  position: sticky;
  top: 0;
  background-color: var(--light);
  padding-top:.5rem;
  padding-bottom:.5rem;
}