<div ngbDropdown (openChange)="openChange($event)">

  <button class="text-left text-truncate" [ngClass]="buttonClass" ngbDropdownToggle
    [ngbTooltip]="selectedItem.name == selectedItem.fullName ? '' : selectedItem.fullName" placement="top"
    container="body">
    <ng-container +ngIf="!isListLoading">
      <span class="mr-2 text-primary">{{selectedItem.number}}</span>{{selectedItem.name}}
      <span class="text-danger" *ngIf="required && !valid">Required Field</span>
    </ng-container>
    <span *ngIf="isListLoading"><i class="fas fa-spinner fa-spin mr-1"></i> Loading...</span>
  </button>
  <div ngbDropdownMenu [ngClass]="menuClass" display="dynamic">
    <form class="px-3" #formSearch>
      <input class="form-control form-control-sm form-control-xs" placeholder="Type to search" autofocus
        [(ngModel)]="searchKey" (ngModelChange)="search()" [ngModelOptions]="{standalone: true}" />
    </form>
    <ng-container +ngIf="filteredItems.length > 0">
      <button ngbDropdownItem *ngFor="let item of filteredItems" (click)="selectItem(item)"
        [ngClass]="{active: item.id == selectedItem.id}">
        <span class="mr-2 text-primary d-none">{{item.number}}</span>
        <span [innerHTML]="item.fullName | highlight: searchKey"></span>
      </button>
    </ng-container>
    <p class="mb-0 text-muted px-3" *ngIf="filteredItems.length == 0">
      <em>No results</em>
    </p>
  </div>
</div>