<div class="row">
    <div class="col-lg-8 pr-1">
        <fieldset [disabled]="!editable">

            <table class="table-sm table-xs table-no-padding w-100 field-cols">
                <tbody>
                    <tr>
                        <td><label class="mb-0">Parcel ID</label></td>
                        <td><input class="form-control form-control-xs" /></td>
                        <td><label class="mb-0">Brief Tax Description</label></td>
                        <td><input class="form-control form-control-xs" /></td>
                    </tr>
                    <tr>
                        <td><label class="mb-0">Alternate ID</label></td>
                        <td><input class="form-control form-control-xs" /></td>                        
                    </tr>
                    <tr>
                        <td><label class="mb-0">Property Address</label></td>
                        <td><input class="form-control form-control-xs" /></td>                        
                    </tr>
                </tbody>
            </table>

        </fieldset>

        <property-history></property-history>

    </div>
    <div class="col-lg-4 pl-2">
        <fieldset [disabled]="!editable">
            <table class="table-sm table-xs table-fields-cols-2 w-100 mb-3">
                <tbody>
                    <tr>
                        <td><label class="mb-0">Property Class</label></td>
                        <td><input class="form-control form-control-xs" /></td>
                    </tr>
                    <tr>
                        <td><label class="mb-0">Property Name</label></td>
                        <td><input class="form-control form-control-xs" /></td>
                    </tr>
                    <tr>
                        <td><label class="mb-0">Property ID</label></td>
                        <td><input class="form-control form-control-xs" /></td>
                    </tr>
                    <tr>
                        <td><label class="mb-0">Property Address</label></td>
                        <td><input class="form-control form-control-xs" /></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

        <div class="d-flex mb-1">
            <h1 class="page-title mb-0">Custom Details</h1>
            <button class="btn btn-xs btn-outline-secondary ml-auto px border-0" [routerLink]="[customizeUrl]"><i
                    class="fas fa-user-tie mr-1"></i>Customize</button>
        </div>

        <custom-details></custom-details>

    </div>
</div>