:root {
  --theme-primary: #333F4F;
  --primary-hover: #e3edfa;
}

body, .popover {
  font-size: .9rem;
}

.tooltip {
  font-size: .75rem;
}

.navbar {
  background-color: black;
}

.invalid-feedback {
  display: block;
  font-size: 90%;
}

fieldset {
  transition: all 1s ease;
  opacity: 1;
}

fieldset.semi-transparent:disabled {
  opacity: 0.4;
}

app-header {
  display: block;
  width: 100vw;
  height: 40px;
}

.workspace-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 40px;
  background-color: #444;
}

app-sidemenu {
  flex: 0 0 200px;
  max-width: 200px;
  display: block;
  height: calc(100vh - 40px);
  background-color: var(--theme-primary);
  z-index: 1;
}

.workspace {
  flex: 1 0 0%;
  background-color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: calc(100vh - 40px);
}

.page-title {
  font-size: 1.25em;
  font-weight: normal;
}

ol.sidemenu-nav {
  padding: 0;
  list-style: none;
}

.sidemenu-item.divider {
  display: block;
  margin: .25rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.sidemenu-item a {
  display: block;
  padding: .35rem 1rem;
  color: #eee;
  text-decoration: none;
  font-size: .9em;
  white-space: nowrap;
  overflow: hidden;
}

.sidemenu-item a:hover, .sidemenu-item a:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.sidemenu-item a:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidemenu-item a.active {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 4px solid var(--primary);
}

.sidemenu-company {
  padding: .5rem 1rem;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.sidemenu-scroll {
  height: calc(100vh - 38px - 40px);
  overflow-y: auto;
}

.sidemenu-toggle {
  background-color: transparent;
  border: none;
  width: 18px;
  text-align: center;
  padding: 0;
  height: 18px;
  margin-left: auto;
  color: #eee;
}

.sidemenu-toggle:hover, .sidemenu-toggle:focus {
  color: var(--info);
}

app-sidemenu {
  transition: all .3s ease;
}

.workspace-wrapper.collapsed app-sidemenu {
  flex: 0 0 40px;
  max-width: 40px;
}

.workspace-wrapper.collapsed .sidemenu-collapse {
  display: none;
}

.workspace-wrapper.collapsed .sidemenu-company {
  padding: 0px;
  justify-content: center;
}

.workspace-wrapper.collapsed .sidemenu-company .sidemenu-toggle {
  margin: auto;
  width: 100%;
  height: auto;
  padding: .5rem .25rem;
}

.workspace-wrapper.collapsed .sidemenu-item a {
  padding: .5rem .25rem;
  text-align: center;
}

.workspace-wrapper.collapsed .sidemenu-item a i {
  margin-right: 0 !important;
}

.workspace-wrapper.collapsed .sidemenu-item.divider {
  margin: 0;
}

.workspace-wrapper.collapsed .sidemenu-scroll .simplebar-track.simplebar-vertical {
  width: 6px !important;
}

.translate-up {
  transform: translateY(1rem);
  opacity: 0;
  transition: all .2s ease;
  animation: translate-up .1s ease-out forwards;
}

@keyframes translate-up {
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.translate-left {
  transform: translateX(1rem);
  opacity: 0;
  transition: all .2s ease;
  animation: translate-left .2s ease-out forwards;
}

@keyframes translate-left {
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

section.filter-strip {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--light);
  /* border-radius: .25rem; */
  padding: .25rem;
}

section.filter-strip {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}

section.filter-strip .search-control {
  flex-grow: 1;
  position: relative;
  padding-left: 1.5rem;
}

section.filter-strip .search-control::before {
  content: "\f002";
  position: absolute;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  left: .5rem;
  font-size: 80%;
  transform: translateY(-50%);
  top: calc(50% - 1px);
}

section.filter-strip .search-control.loading::before {
  animation: fa-spin 0.5s linear infinite;
  content: "\f110";
  top: .2em;
  color: var(--info);
}

section.filter-strip .search-control .form-control {
  position: relative;
  top: -1px;
  background-color: transparent;
  border: none;
}

section.filter-strip .search-control .form-control:hover, section.filter-strip .search-control .form-control:focus {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none !important;
  border: none;
  outline: none;
}

section.filter-strip .btn-dropdown {
  background-color: transparent;
  border: none;
  padding-right: 1.75rem;
  padding-left: .5rem;
  border-radius: .2rem;
  margin-top: -1px;
}

section.filter-strip .btn-dropdown:hover, section.filter-strip .btn-dropdown:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

section.filter-strip .btn-dropdown:after {
  content: "\f078";
  position: absolute;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  font-size: 80%;
  transform: translateY(-50%);
  top: calc(50%);
  right: 0.5rem;
  border: none !important;
  margin: 0;
}

.filter-strip .dropdown-label {
  font-weight: 600;
}

.filter-strip.mini {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: .15rem;
}

.filter-strip.mini+.filter-strip {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: .15rem;
}

section.filter-strip.mini .btn-dropdown, .filter-strip.mini+.filter-strip .btn-dropdown {
  font-size: .9em;
}

section.filter-strip.mini .btn-dropdown:after, .filter-strip.mini+.filter-strip .btn-dropdown:after {
  top: calc(50% + .1em)
}

.table-overflow {
  overflow-y: auto;
  box-shadow: inset 0 -0.5rem 1rem -0.75rem rgba(0, 0, 0, 0.25);
}

.table-overflow-sm {
  box-shadow: inset 0 -0.5rem 1rem -0.75rem rgba(0, 0, 0, 0.15);
}

.table-overflow table thead th:after, .table-overflow table thead td:after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.table-overflow table thead th, .table-overflow table thead td {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom-width: 0px;
}

.table-overflow table thead td:after {
  height: 1px;
  bottom: -1px;
}

.table-overflow table thead td {
  border-top-width: 0px;
}

.dot-loader-overlay {
  position: relative;
}

.dot-loader-overlay dot-loader:not(.dot-loader-show) {
  display: none;
}

.table-fields-cols-2 td:first-child {
  padding: 0px !important;
  padding-right: 1rem !important;
}

.table-fields-cols-2 td:last-child {
  padding: 0px !important;
}

.table-no-padding td, .table-no-padding th {
  padding: 0px !important;
}

.table-field-exclusive td .form-control:not(:focus) {
  border-color: transparent;
  background-color: transparent;
  padding-left: 0px !important;
}

.table-field-exclusive td select {
  line-height: normal;
}

.table-field-exclusive td select:not(:focus) {
  -webkit-appearance: none;
  -moz-appearance: none;
}

fieldset:not([disabled]) .table-field-exclusive td .form-control:hover {
  border-color: #cce5ff !important;
}

.table thead td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.header-nowrap td:not(.wrap), .header-nowrap th:not(.wrap) {
  white-space: nowrap;
}

.header-align-middle td {
  vertical-align: middle;
}

.fas.fa-spinner {
  font-size: 1rem;
}

.table-mimic .table-loader {
  padding-top: 2rem;
}

.table-mimic .table-no-data {
  text-align: center;
  padding-top: 2rem;
}

.table-mimic .table-head {
  border-bottom: 2px solid #dee2e6;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
}

.table-mimic .table-head .column-header {
  font-weight: 600;
  padding: .3rem;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: .9em;
}

.table-mimic .table-row {
  display: flex;
}

.table-mimic .table-row .table-cell {
  padding: .3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
  flex-shrink: 1;
}

.table-mimic.table-xs .table-row .table-cell, .table-mimic.table-xs .table-head .column-header {
  font-size: .8em;
}

.table-mimic.table-xs .table-head .column-header {
  font-size: .9em;
}

/* Temp COA Styles */

.table-row-component .table-row.even {
  background-color: #f6f6f6;
}

.table-row-component {
  display: block;
}

.table-row-component .table-row-component {
  position: relative;
}

.table-row-component>.table-row-component:before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 1px dashed red;
  left: calc(8% + .3rem);
  border-color: #b4b4b4;
  z-index: 1;
}

.table-row-component>.table-row-component>.table-row-component:before {
  border-color: #ffc479;
}

.table-row-component>.table-row-component>.table-row-component>.table-row-component:before {
  border-color: #fc7cce;
}

.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component:before {
  border-color: #51c100;
}

.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component:before {
  border-color: #00ccd7;
}

.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component:before {
  border-color: #00ccd7;
}

.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component>.table-row-component:before {
  border-color: #ad4eec;
}

.table-row-component .table-action .btn {
  font-size: .9em;
  padding: 0rem .25rem !important;
  vertical-align: text-top;
  line-height: 1;
}

.table-row-component .table-action .btn i {
  transition: all .3s ease;
}

.table-row-component .table-row:hover, .table.table-hover tbody tr:hover, .table.table-hover tbody tr:hover td {
  background-color: var(--primary-hover);
}

a.table-link {
  color: #6e4700;
}

.table-confirm-action {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  background-color: rgb(51, 63, 79);
  padding: 0em .9em 0em 1.25em;
  animation: confirm-slide .3s ease;
  border-radius: 4px;
}

.table-confirm-action .confirm-text {
  margin-right: 1em;
  color: #eee;
  font-size: .9rem;
  line-height: normal;
}

.table-confirm-action i.fas.text-danger {
  color: #ff9a9a !important;
}

.table-confirm-action i.fas.text-success {
  color: #5ace69 !important;
}

.table-cell.no-truncate {
  overflow: visible !important;
}

.table-cell.table-cell-sm {
  padding: .2rem;
}

.table-cell .btn.btn-xs {
  line-height: 1;
}

@keyframes confirm-slide {
  from {
    right: -100%;
  }
}

.icon-no-results {
  opacity: .25;
}