<section class="dot-loader-overlay" [ngClass]="{'border-0':isLoading}">
  <ngx-simplebar class="table-overflow table-overflow-sm">
    <table class="table table-sm table-xs bg-white table-striped" style="table-layout:fixed"
      data-column-center=".2.3.4.5.6.7.8.9.10." data-column-right=".12.13.">
      <thead class="header-nowrap">
        <tr>
          <td style="width:90px;">Type</td>
          <td style="width:60px;">Date</td>
          <td style="width:60px;">Number</td>
          <td style="width:80px;">Due Date</td>
          <td class="border-left text-primary" style="width:90px;">
            <small><i class="fas fa-tint mr-1"></i></small>
            Water Present</td>
          <td class="text-primary" style="width:70px;">Previous</td>
          <td class="text-primary" style="width:60px;">Usage</td>
          <td class="border-left text-info" style="width:95px;">
            <small><i class="fas fa-bolt mr-1"></i></small>
            Electric Present</td>
          <td class="text-info" style="width:70px;">Previous</td>
          <td class="text-info border-right" style="width:60px;">Usage</td>
          <td style="width:200px;">Memo</td>
          <td class="sticky-right" style="width:60px;right:80px;">Amount</td>
          <td class="sticky-right pr-3" style="width:80px;">Open Balance</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let number of sampleComArray; let i = index;" [style.animation-delay.s]="i * 0.025">
          <td>
            Utility Billing
          </td>
          <td>07-15-19</td>
          <td>3716</td>
          <td>08-15-19</td>

          <td class="border-left">11,569</td>
          <td>11,300</td>
          <td>275</td>
          <td class="border-left">73,143</td>
          <td>68,793</td>
          <td class="border-right">4,350</td>
          <td>Some memo typed in here</td>
          <td class="sticky-right" style="right:80px;">$ 79.45</td>
          <td class="sticky-right pr-3">$ 79.45</td>

        </tr>

      </tbody>
    </table>
  </ngx-simplebar>

  <dot-loader loadingText="Fetching history" [ngClass]="{'dot-loader-show':isLoading}" [overlay]="true"></dot-loader>
</section>