<div class="row">
    <div class="col-lg-3 pr-2 border-right border-light-light">
        <div class="d-flex">
            <h1 class="page-title mb-0">Properties</h1>
            <button class="btn btn-xs btn-info ml-auto px"><i class="fas fa-plus mr-1"></i>New Property</button>
        </div>

        <properties-list [mini]="isContactsListMini"></properties-list>
    </div>

    <div class="col-lg-9 pl-2 pr-2">

        <div class="d-flex">
            <h1 class="page-title">Property Details</h1>

            <span class="ml-auto pr-1" *ngIf="!formEditable">
                <button class="btn btn-xs btn-outline-secondary ml-1 px border-0" [routerLink]=""><i
                        class="fas fa-history mr-1"></i>Tax History</button>
            </span>

            <span class="" *ngIf="!formEditable">
                <button class="btn btn-xs btn-primary ml-1 px pr-simplebar" (click)="formEditable = true"><i
                        class="fas fa-pencil-alt mr-1"></i>Edit</button>
            </span>

            <button class="btn btn-xs btn-success ml-auto px mr-2" (click)="formEditable = false"
                *ngIf="formEditable"><i class="fas fa-check mr-1"></i>Save</button>
            <button class="btn btn-xs btn-light px border pr-simplebar" (click)="formEditable = false"
                *ngIf="formEditable"><i class="fas fa-times mr-1"></i>Cancel</button>
        </div>

        <ngx-simplebar class="contact-overflow mt-2" [options]="{autoHide: false}">

            <property-details></property-details>

            <router-outlet></router-outlet>

        </ngx-simplebar>
    </div>
</div>